//Primary
$color-primary-50: #ffffff;
$color-primary-100: #f5f6fc;
$color-primary-200: #d0d5ee;
$color-primary-300: #abb4e0;
$color-primary-400: #8592d3;
$color-primary-500: #6071c5;
$color-primary-600: #4154b1;
$color-primary-700: #33428c;
$color-primary-800: #253067;
$color-primary-900: #181f41;

//Secondary
$color-secondary-50: #ffffff;
$color-secondary-100: #f4f5f6;
$color-secondary-200: #d8dbdf;
$color-secondary-300: #bdc0c7;
$color-secondary-400: #a1a6b0;
$color-secondary-500: #858c99;
$color-secondary-600: #6b7280;
$color-secondary-700: #545a64;
$color-secondary-800: #3d4148;
$color-secondary-900: #25282d;

//Gray
$color-gray-50: #f7f7f8;
$color-gray-100: #e9eaed;
$color-gray-200: #cdcfd6;
$color-gray-300: #b0b5bf;
$color-gray-400: #949aa8;
$color-gray-500: #787f91;
$color-gray-600: #606776;
$color-gray-700: #494e5a;
$color-gray-800: #32363e;
$color-gray-900: #1c1d22;

//Red
$color-red-50: #fef2f2;
$color-red-100: #fee2e2;
$color-red-200: #fecaca;
$color-red-300: #fca5a5;
$color-red-400: #f87171;
$color-red-500: #ef4444;
$color-red-600: #dc2626;
$color-red-700: #b91c1c;
$color-red-800: #991b1b;
$color-red-900: #7f1d1d;

//Green
$color-green-50: #ecfdf5;
$color-green-100: #d1fae5;
$color-green-200: #a7f3d0;
$color-green-300: #6ee7b7;
$color-green-400: #34d399;
$color-green-500: #10b981;
$color-green-600: #059669;
$color-green-700: #047857;
$color-green-800: #065f46;
$color-green-900: #064e3b;

//Yellow
$color-yellow-50: #fffbeb;
$color-yellow-100: #fef3c7;
$color-yellow-200: #fef3c7;
$color-yellow-300: #fcd34d;
$color-yellow-400: #fbbf24;
$color-yellow-500: #f59e0b;
$color-yellow-600: #d97706;
$color-yellow-700: #b45309;
$color-yellow-800: #92400e;
$color-yellow-900: #78350f;

//Media queries
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;
