/* TOKENS */

:root {
  // PRIMARY
  --color-primary-50: #ebfbff;
  --color-primary-100: #d2f6fe;
  --color-primary-200: #a0ecfd;
  --color-primary-300: #6ee2fd;
  --color-primary-400: #3bd9fc;
  --color-primary-500: #09cffb;
  --color-primary-600: #04a9ce;
  --color-primary-700: #03809b;
  --color-primary-800: #025669;
  --color-primary-900: #012d37;

  // SECONDARY
  --color-secondary-50: #ffffff;
  --color-secondary-100: #f4f5f6;
  --color-secondary-200: #d8dbdf;
  --color-secondary-300: #bdc0c7;
  --color-secondary-400: #a1a6b0;
  --color-secondary-500: #858c99;
  --color-secondary-600: #6b7280;
  --color-secondary-700: #545a64;
  --color-secondary-800: #3d4148;
  --color-secondary-900: #25282d;

  // GRAY
  --color-gray-50: #f1f2f3;
  --color-gray-100: #e6e7ea;
  --color-gray-200: #d0d2d8;
  --color-gray-300: #babec5;
  --color-gray-400: #a3a9b2;
  --color-gray-500: #8d94a0;
  --color-gray-600: #727a88;
  --color-gray-700: #5b616c;
  --color-gray-800: #434851;
  --color-gray-900: #2c2f35;
}
